body{
	background: blue;
	/*background: rgb(155,155,155);*/
	/*background: #0000FF;*/
	/*background: blue;*/
	color: white;
}

footer{
	border: 1px solid orange;
	font-weight: bold;
	font-size: 100px;
	padding: 50px;
	text-align: center;

}

header{
	border: 1px solid black;
	background: black;
	color: gray;
	text-align: center;
}

header nav ul li{
	background: orange;
	border: 1px solid white;
	border-radius: 5px;
	display: inline-block;
	padding: 10px 20px;
	margin-right: 20px;
	/*margin: 0px 20px 0px 0px;*/
	width: 90px; 
}

header nav ul li:hover{
	background: white;
	border: 1px solid orange;
	border-radius: 5px;
	display: inline-block;
	width: 90px; 
}

main{
	margin-top: 20px;
}

main article{
	border: 1px dashed black;
	border-color: white;
	display: inline-block;
	text-align: justify;
	vertical-align: top;		
	width: 33.10%;
}