body{
	font-size: 16px; /*1em*/
	margin: 0 auto;
	min-width: 1078px;
	max-width: 1078px;
}

header nav{
	
	margin-left: -37px;
	margin-top: 40px;
	
	/*text-decoration: underline;*/
}

header nav ul li{
	color: black;
	display: inline-block;
	font-weight: bold;
	font-size: 1em;
	margin-right: 15px;

	padding-bottom: 2px;
	/*text-decoration: underline;*/
}

#bandera{
	width: 25px; 
	height: 25px;
	float: right;
}
#Bici{
	width: 150px; 
	height: 55px;
}
#logorojo{
	width: 25px; 
	height: 25px;
	float: right;
}
#mundo{
	width: 25px; 
	height: 25px;
	float: right;
}
#otraSeccion article{
	display: inline-block;
	width: 40%;
}
#seccion1 article{
	display: inline-block;
	
}
#triciclo{
	width: 250px; 
	height: 250px;
}

#video1{
	width: 250px; 
	height: 200px;
}
#video2{
	width: 250px; 
	height: 200px;
}
}